:root {
    --fontPrimaryColor: #050505;
    --fontSecondaryColor: #FFF;
    --fontTertiaryColor: #535353;

    --bgPrimaryColor: #FAFAFA;
    --bgSecondaryColor: #ece8e2;
    --bgDark: #050505;

    --fontDefault: 'Ubuntu', Verdana, Arial;
}

* {
    font-family: var(--fontDefault);
}

body {
    background-color: var(--bgPrimaryColor);
}

.navbar {
    min-height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bgDark);

    width: 100vw;
    position: fixed;
    margin-top: 0px;
    
}

.navBranding {
    text-decoration: none;
    color: var(--fontSecondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.navBranding:hover {
    text-decoration: underline;
    color: var(--fontSecondaryColor);
}

.navbar figure {
    margin-right: 1em;
}

.imgNavBranding {
    width: 2.5em;
    position: relative;
    margin-top: 50%;
}

.hamburgerMenu {
    display: block;
    color: var(--fontSecondaryColor);
    font-size: 1.5em;
    cursor: pointer;
}

.navMenu {
    position: fixed;
    left: -100%;
    top: 122px;
    gap: 0;
    flex-direction: column;
    background-color: var(--bgDark);
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.navMenu.active {
    left: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.navItem {
    list-style: none;
    margin: 1.5em 0;
}

.navLink {
    text-decoration: none;
    color: var(--fontSecondaryColor);
    justify-content: center;
    align-items: center;
}

.navLink:hover {
    text-decoration: underline;
    color: var(--fontSecondaryColor);
}

@media (min-width: 768px) {
    .navMenu {
        display: flex;
        flex-direction: row;
        width: auto;
        position: static;
        margin: 0;
        padding: 0;
    }

    .navItem {
        padding: 1em;
        margin: 0;
    }

    .hamburgerMenu {
        display: none;
    }
}

/*
.imgBg {
    margin-top: 122px;
    height: 100%;
    width: 100%;
}
*/

.bgImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    margin-top: 122px;
    width: 100%;
    height: 100vh;
}