:root {
    --fontPrimaryColor: #050505;
    --fontSecondaryColor: #FFF;
    --fontTertiaryColor: #535353;

    --bgPrimaryColor: #FAFAFA;
    --bgSecondaryColor: #ece8e2;
    --bgDark: #050505;

    --fontDefault: 'Ubuntu', Verdana, Arial;
}

* {
    font-family: var(--fontDefault);
}

body {
    background-color: var(--bgPrimaryColor);
}

.navbar {
    min-height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bgDark);

    width: 100vw;
    position: fixed;
    margin-top: 0px;
}

.navBranding {
    text-decoration: none;
    color: var(--fontSecondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.navBranding:hover {
    text-decoration: underline;
    color: var(--fontSecondaryColor);
}

.navbar figure {
    margin-right: 1em;
}

.imgNavBranding {
    width: 2.5em;
    position: relative;
    margin-top: 50%;
}

.hamburgerMenu {
    display: block;
    color: var(--fontSecondaryColor);
    font-size: 1.5em;
    cursor: pointer;
}

.navMenu {
    position: fixed;
    left: -100%;
    top: 122px;
    gap: 0;
    flex-direction: column;
    background-color: var(--bgDark);
    opacity: 0.9;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.menuNavActive {
    overflow: hidden;
}

.navMenu.active {
    left: 0;
    padding: 0;
    margin: 0;
}

.navItem {
    list-style: none;
    margin: 1.5em 0;
}

.navLink {
    text-decoration: none;
    color: var(--fontSecondaryColor);
    justify-content: center;
    align-items: center;
}

.navLink:hover {
    text-decoration: underline;
    color: var(--fontSecondaryColor);
}

@media (min-width: 768px) {
    .navMenu {
        display: flex;
        flex-direction: row;
        width: auto;
        position: static;
        margin: 0;
        padding: 0;
    }

    .navItem {
        padding: 1em;
        margin: 0;
    }

    .hamburgerMenu {
        display: none;
    }
}

.firstContent {
    background-image: url("../img/giro-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.secondConentFirst {
    margin-top: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secondConentFirstTitle {
    color: var(--fontSecondaryColor);
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: 4px 4px 10px var(--fontPrimaryColor);
}

.secondConentFirstSubtitle {
    color: var(--fontSecondaryColor);
    font-size: 1.1em;
    font-weight: 700;
    text-shadow: 4px 4px 10px var(--fontPrimaryColor);
}

.secondConentSecond {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 2em;
    font-size: 1em;
}

.contentDrag {
    display: flex;
    align-items: center;
}

.secondConentSecondIcon {
    color: var(--fontSecondaryColor);
    font-size: 2em;
    text-shadow: 4px 4px 10px var(--fontPrimaryColor);
}

.secondConentSecondLink {
    text-decoration: none;
    color: var(--fontSecondaryColor);
    font-weight: 700;
    text-shadow: 4px 4px 10px var(--fontPrimaryColor);
}

.secondConentSecondLink:hover {
    text-decoration: underline;
    color: var(--fontSecondaryColor);
}

@media (min-width: 768px) {
    .secondConentFirstTitle {
        font-size: 4em;
    }

    .secondConentFirstSubtitle {
        font-size: 1.75em;
    }
}

.secSobre {
    margin-top: 3em;
}

.secSobre .imgDono {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.imgDuas {
    margin: 0;
    padding: 0;
}

.secSobre .imgCostas,
.secSobre .imgLonge {
    width: 480px;
    margin-top: 1em;
}

.secSobre .imgLonge {
    margin-bottom: 1em;
}

.cardPrincipios {
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.cardPrincipios .card {
    margin-top: 2em;
    background-color: var(--bgPrimaryColor);
}

.cardPrincipios .card-body {
    margin: 1em;
    height: 8em;
}

.cardPrincipios i {
    font-size: 3em;
    margin-top: -0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgPrimaryColor);
}

.cardPrincipios h5 {
    text-align: center;
}

@media (min-width: 768px) {
    .cardPrincipios .card {
        margin-top: 0;
        height: 18em;
    }
}

@media (min-width: 1024px) {
    .cardPrincipios .card {
        height: 12em;
    }
}

.secLanchas {
    margin-top: 3em;


}

.cardsLanchas {
}

.cardsLanchas .card {
    width: 75%;
}